@model IList<ProductOverviewModel>
@using Nop.Core.Domain.Catalog
@using Nop.Core.Domain.Orders
@using System.Linq
@inject IThemeContext themeContext
@{

    var themeName = await themeContext.GetWorkingThemeNameAsync();
}
<!-- Start Hot area -->
<section class="mthot__product-area mthot__product-bg pt-40 pb-50 p-relative fix"
         data-background="Themes/@(themeName)/Content/img/bg/hot-bg-1-1.png">
    <div class="container">
        <div class="mthot__product-border mb-45 pb-7">
            <div class="row align-items-center">
                <div class="col-md-6">
                    <div class="mt-section-content mb-30 ">
                        <h3 class="mt-section-title">
                            Weekly
                            <span>Hot Deals</span>
                            <span>
                                <svg xmlns="http://www.w3.org/2000/svg" width="18" height="20" viewBox="0 0 18 20"
                                     fill="none">
                                    <path d="M9 1.82196L10.429 6.82929L10.5619 7.29477L11.0314 7.17707L16.0824 5.91098L12.4604 9.65222L12.1237 10L12.4604 10.3478L16.0824 14.089L11.0314 12.8229L10.5619 12.7052L10.429 13.1707L9 18.178L7.57097 13.1707L7.43813 12.7052L6.9686 12.8229L1.91761 14.089L5.53957 10.3478L5.87627 10L5.53957 9.65222L1.91761 5.91098L6.9686 7.17707L7.43813 7.29477L7.57097 6.82929L9 1.82196Z"
                                          fill="#FDD057" stroke="#060121" />
                                </svg>
                            </span>
                        </h3>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="mthot__product-wraping">
                        <div class="mthot__product-countdown">
                            <div class="countdown d-flex align-items-center justify-content-lg-end" data-countdown
                                 data-date="Nov 19 2025 20:20:22">
                                <div class="mthot__product-countdownitem">
                                    <span data-days class="countdown-value">05</span>
                                    <span class="countdown-label">DAYS</span>
                                </div>
                                <div class="countdown-separator">:</div>
                                <div class="mthot__product-countdownitem">
                                    <span data-hours class=" countdown-value">12</span>
                                    <span class="countdown-label">Hours</span>
                                </div>
                                <div class="countdown-separator">:</div>
                                <div class="mthot__product-countdownitem">
                                    <span data-minutes class="minutes countdown-value">34</span>
                                    <span class="countdown-label">Mins</span>
                                </div>
                                <div class="countdown-separator">:</div>
                                <div class="mthot__product-countdownitem">
                                    <span data-seconds class="seconds countdown-value">44</span>
                                    <span class="countdown-label">Secs</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="mthot__product-wrapper mb-15">
            <div class="row g-3">
                <div class="col-lg-4">
                    <div class="mthot__product-offer" data-background="Themes/@(themeName)/Content/img/banner/banner-1-3.jpg">
                        <div class="mthot__product-offfercontent wow img-custom-anim-left" data-wow-duration="1.5s"
                             data-wow-delay="0.1s">
                            <h5 class="mthot__product-offfersubtitle">30% Off</h5>
                            <h4 class="mthot__product-offfertitle mb-20 mt-20">
                                Fresh, premium drinks <br>
                                from the farm.
                            </h4>
                            <div class="mthot__product-offfer-btn">
                                <a href="shop.html" class="mt-btn">
                                    <i class="fa-solid fa-basket-shopping"></i> Shop Now
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-8">
                    <div class="mthot__product-wrap">
                        <div class="row g-3">
                            @{
                                var products = Model.Skip(0).Take(8).ToList();
                            }
                            @foreach (var item in products)
                            {
                                await ProductBox(item, "col-xl-3 col-lg-4 col-md-6 mthot__cols");
                            } 
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="mthot__product-wrapper mb-20">
            <div class="row g-3">
                @{
                    var products2 = Model.Skip(8).Take(6).ToList();
                }
                @foreach (var item in products)
                {
                    await ProductBox(item, "col-xl-2 col-lg-3 col-md-6 mthot__cols");
                } 
            </div>
        </div>
    </div>
</section>
<!-- End Hot area -->

@functions{
    async Task ProductBox(ProductOverviewModel product, string boxClass)
    {
        var addtocartlink = "";
        var shoppingCartTypeId = (int)ShoppingCartType.ShoppingCart;
        var quantity = 1;
        if (product.ProductPrice.ForceRedirectionAfterAddingToCart)
        {
            addtocartlink = Url.RouteUrl(NopRouteNames.Ajax.ADD_PRODUCT_TO_CART_CATALOG, new { productId = product.Id, shoppingCartTypeId = shoppingCartTypeId, quantity = quantity, forceredirection = product.ProductPrice.ForceRedirectionAfterAddingToCart });
        }
        else
        {
            addtocartlink = Url.RouteUrl(NopRouteNames.Ajax.ADD_PRODUCT_TO_CART_CATALOG, new { productId = product.Id, shoppingCartTypeId = shoppingCartTypeId, quantity = quantity });
        }

        var addtowishlistlink = Url.RouteUrl(NopRouteNames.Ajax.ADD_PRODUCT_TO_CART_CATALOG, new { productId = product.Id, shoppingCartTypeId = (int)ShoppingCartType.Wishlist, quantity = quantity });
        var addtocomparelink = Url.RouteUrl(NopRouteNames.Ajax.ADD_PRODUCT_TO_COMPARE, new { productId = product.Id });
        var weightValues = product.ProductSpecificationModel?.Groups
            .SelectMany(group => group.Attributes)
            .FirstOrDefault(attr => string.Equals(attr.Name, "Weight", StringComparison.InvariantCultureIgnoreCase))
            ?.Values
            .Select(value => value.ValueRaw)
            .Where(value => !string.IsNullOrWhiteSpace(value))
            .Distinct()
            .ToList();

        <div class="@boxClass">
            <div class="mthot__product-item  p-relative fix">
                <div class="mthot__product-img mb-10">
                    @foreach (var picture in product.PictureModels)
                    {
                        <a href="@(await NopUrl.RouteGenericUrlAsync<Product>(new { SeName = product.SeName }))">
                            <img src="@picture.ImageUrl" alt="@picture.AlternateText" itle="@picture.Title">
                        </a>
                        break;
                    }
                    @if (!product.ProductPrice.DisableWishlistButton)
                    {
                        @await Html.PartialAsync("_MoveToWishlistModal", product.ProductToWishlist)
                         
                        <div class="mthot__product-wishlist">
                            <a href="javascript:void(0)" class="button-2 add-to-wishlist-button" title="@T("ShoppingCart.AddToWishlist")" onclick="AjaxCart.addproducttocart_catalog('@addtowishlistlink');return false;">
                                <i class="fa-regular fa-heart"></i>
                            </a>
                        </div>
                    }
                    
                </div>
                <div class="mthot__product-content">
                    @if (weightValues?.Any() == true)
                    {
                        <div class="mthot__product-cate mb-10">
                            @foreach (var weight in weightValues)
                            {
                                <span>@Html.Raw(weight)</span>
                            }
                        </div>
                    }
                    <h6 class="mthot__product-title mb-10 ">
                        <a href="@(await NopUrl.RouteGenericUrlAsync<Product>(new { SeName = product.SeName }))">
                            @product.Name  
                        </a>
                    </h6>
                    <div class="mthot__product-price-wrap d-flex align-items-center justify-content-between">
                        <div class="mthot__product-price">
                            <span>@product.ProductPrice.Price</span>
                            @if (!string.IsNullOrEmpty(product.ProductPrice.OldPrice))
                            {
                                <del>@product.ProductPrice.OldPrice</del>  
                            }
                            
                        </div>
                        <div class="mthot__product-cart">
                            @if (!product.ProductPrice.DisableBuyButton)
                            {
                                var addToCartText = T("ShoppingCart.AddToCart").Text;
                                if (product.ProductPrice.IsRental)
                                {
                                    addToCartText = T("ShoppingCart.Rent").Text;
                                }
                                if (product.ProductPrice.AvailableForPreOrder)
                                {
                                    addToCartText = T("ShoppingCart.PreOrder").Text;
                                }
                                <div class="mtfeature__product-cart">
                                    <a href="javascript:void(0)" onclick="AjaxCart.addproducttocart_catalog('@addtocartlink');return false;">
                                        <i class="fa-solid fa-basket-shopping"></i>
                                    </a> 
                                </div>
                            }
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
}
