
@model IList<CustomerAttributeModel>
@using Nop.Core.Domain.Catalog
@using Nop.Services.Customers

@foreach (var attribute in Model)
{
    var controlId = $"{NopCustomerServicesDefaults.CustomerAttributePrefix}{attribute.Id}";
    var textPromptId = $"{NopCustomerServicesDefaults.CustomerAttributePrefix}{attribute.Id}_textprompt";
    var textPrompt = attribute.Name;

    <div class="inputs custom-attributes mt-checkout-input mb-3">
        <label id="@textPromptId" class="form-label fw-bold">@textPrompt:<span class="required">*</span></label>

        @switch (attribute.AttributeControlType)
        {
            case AttributeControlType.DropdownList:
            {
            <select name="@(controlId)" id="@(controlId)" aria-labelledby="@textPromptId" class="form-select">
                @if (!attribute.IsRequired)
                    {
                    <option value="0">---</option>
                    }
                @foreach (var attributeValue in attribute.Values)
                    {
                    <option selected="@attributeValue.IsPreSelected" value="@attributeValue.Id">@attributeValue.Name</option>
                    }
            </select>
            }
                break;
            case AttributeControlType.RadioList:
            {
            <ul class="option-list list-unstyled mb-0 mt-2">
                @foreach (var attributeValue in attribute.Values)
                    {
                    <li class="mb-2">
                        <div class="custom-radio">
                            <input class="custom-control-input" id="@(controlId)_@(attributeValue.Id)" type="radio" name="@(controlId)" value="@attributeValue.Id" checked="@attributeValue.IsPreSelected" />
                            <label class="custom-control-label ms-2" for="@(controlId)_@(attributeValue.Id)">@attributeValue.Name</label>
                        </div>
                    </li>
                    }
            </ul>
            }
                break;
            case AttributeControlType.Checkboxes:
            case AttributeControlType.ReadonlyCheckboxes:
            {
            <ul class="option-list list-unstyled mb-0 mt-2">
                @foreach (var attributeValue in attribute.Values)
                    {
                    <li class="mb-2">
                        <div class="custom-checkbox">
                            <input class="custom-control-input" id="@(controlId)_@(attributeValue.Id)" type="checkbox" name="@(controlId)" value="@attributeValue.Id" checked="@attributeValue.IsPreSelected" @(attribute.AttributeControlType == AttributeControlType.ReadonlyCheckboxes ? Html.Raw(" disabled=\"disabled\"") : null) />
                            <label class="custom-control-label ms-2" for="@(controlId)_@(attributeValue.Id)">@attributeValue.Name</label>
                        </div>
                    </li>
                    }
            </ul>
            }
                break;
            case AttributeControlType.TextBox:
            {
                <input name="@(controlId)" type="text" class="textbox form-control" id="@(controlId)" value="@(attribute.DefaultValue)" aria-labelledby="@textPromptId" />
            }
                break;
            case AttributeControlType.MultilineTextbox:
            {
            <textarea id="@(controlId)" name="@(controlId)" aria-labelledby="@textPromptId" class="form-control">@(attribute.DefaultValue)</textarea>
                }
                break;
            case AttributeControlType.Datepicker:
            case AttributeControlType.FileUpload:
            case AttributeControlType.ColorSquares:
            case AttributeControlType.ImageSquares:
                {
                    //not support attribute type
                }
                break;
        }
    </div>
}
