@model PasswordRecoveryConfirmModel
@inject IThemeContext themeContext
@{
    Layout = "_ColumnsOne";

    //title
    NopHtml.AddTitleParts(T("PageTitle.PasswordRecovery").Text);
    //page class
    NopHtml.AppendPageCssClassParts("html-password-recovery-page");
    var themeName = await themeContext.GetWorkingThemeNameAsync();
}
<section class="mt-login-area pt-120 pb-140 p-relative z-index-1 fix">
    <div class="container">
        <div class="mt-login-wrapper" data-background="Themes/@(themeName)/Content/img/contact/login-bg.jpg">
            <div class="row align-items-center">
                <div class="col-xl-6 col-lg-6">
                    <div class="mt-login-wrap mr-30">
                        <div class="mt-login-top text-center mb-40">
                            <h3 class="mt-login-title">@T("Account.PasswordRecovery")</h3>
                            <span>@T("Account.PasswordRecovery.Tooltip")</span>
                        </div>
                        <div class="mt-login-option">
                            @if (!string.IsNullOrEmpty(Model.Result))
                            {
                                <div class="result">
                                    @Model.Result
                                </div>
                                <div class="buttons">
                                    <a href="@Model.ReturnUrl" class="mt-btn-2 w-100">@T("Common.Continue")</a>
                                </div>
                            }
                            @if (!Model.DisablePasswordChanging)
                            {
                                <form asp-route="@NopRouteNames.Standard.PASSWORD_RECOVERY_CONFIRM" asp-route-token="@Context.Request.Query["token"]" asp-route-guid="@Context.Request.Query["guid"]" method="post" autocomplete="off">
                                    <div asp-validation-summary="ModelOnly" class="message-error"></div>
                                    <div class="row">
                                        <div class="col-12">
                                            <div class="mt-checkout-input">
                                                <label asp-for="NewPassword" asp-postfix=":"><span class="required">*</span></label>
                                                <input asp-for="NewPassword" />
                                                <span asp-validation-for="NewPassword"></span>
                                            </div>
                                        </div>
                                        <div class="col-12">
                                            <div class="mt-checkout-input">
                                                <label asp-for="ConfirmNewPassword" asp-postfix=":"><span class="required">*</span></label>
                                                <input asp-for="ConfirmNewPassword" />
                                                <span asp-validation-for="ConfirmNewPassword"></span>
                                            </div>
                                        </div>
                                        <div class="col-12">
                                            <button type="submit" name="set-password" class="mt-btn-2 w-100 new-password-button">
                                                <span>@T("Account.PasswordRecovery.ChangePasswordButton")</span>
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            }
                        </div>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-6">
                    <div class="mt-login-thumb br-40 text-center text-lg-end wow img-custom-anim-top"
                         data-wow-duration="1.5s" data-wow-delay="0.1s">
                        <img src="~/Themes/@(themeName)/Content/img/contact/login-thumb.jpg" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
