@*
    // ***   ** ****** ****** ****** ******* **     ** ****** ***   ** **** ****
    // ****  ** **  ** **  ** **  **  **  **  **   **  **  ** ****  ** *    *
    // ** ** ** **  ** ****** ******  **  **   ** **   ****** ** ** ** *    ***
    // **  **** **  ** **     **  **  **  **    ***    **  ** **  **** *    *
    // **   *** ****** **     **  ** *******     *     **  ** **   *** **** ****
    // **************************************************************************
    // *                                                                         *
    // *     by                                                                  *
    // *    Copyright (c) NopAdvance LLP. All Rights Reserved.                   *
    // *                                                                         *
    // **************************************************************************
    // *                                                                         *
    // *    This software is licensed for use under the terms accepted during    *
    // *    the purchase of this product. A non-exclusive, non-transferable      *
    // *    right is granted to use this product on the website for which it was *
    // *    licensed.                                                            *
    // *                                                                         *
    // *    Companies purchasing this product for their customers are permitted, *
    // *    provided the use complies with the terms outlined in the EULA:       *
    // *    https://store.nopadvance.com/eula.                                   *
    // *                                                                         *
    // *    You may not reverse engineer, decompile, modify, or distribute this  *
    // *    software without explicit permission from NopAdvance LLP. Any        *
    // *    violation will result in the termination of your license and may     *
    // *    lead to legal action.                                                *
    // *                                                                         *
    // **************************************************************************
    // *    Contact: contact@nopadvance.com                                      *
    // *    Website: https://nopadvance.com                                      *
    // **************************************************************************
*@
@model PasswordRecoveryModel
@inject IThemeContext themeContext
@{
    Layout = "_ColumnsOne";

    //title
    NopHtml.AddTitleParts(T("PageTitle.PasswordRecovery").Text);
    //page class
    NopHtml.AppendPageCssClassParts("html-password-recovery-page");
    var themeName = await themeContext.GetWorkingThemeNameAsync();
}
<section class="mt-login-area pt-120 pb-140 p-relative z-index-1 fix">
    <div class="container">
        <div class="mt-login-wrapper" data-background="Themes/@(themeName)/Content/img/contact/login-bg.jpg">
            <div class="row align-items-center">
                <div class="col-xl-6 col-lg-6">
                    <div class="mt-login-wrap mr-30">
                        <div class="mt-login-top text-center mb-40">
                            <h3 class="mt-login-title">@T("Account.PasswordRecovery")</h3>
                            <span>@T("Account.PasswordRecovery.Tooltip")</span>
                        </div>
                        <div class="mt-login-option">
                            <form asp-route="@NopRouteNames.Standard.PASSWORD_RECOVERY" method="post">
                                <div asp-validation-summary="ModelOnly" class="message-error"></div>
                                <div class="row">
                                    <div class="col-12">
                                        <div class="mt-checkout-input">
                                            <label asp-for="Email" asp-postfix=":"><span class="required">*</span></label>
                                            <input asp-for="Email" class="email" placeholder="@T("Account.Fields.Email")" />
                                            <span asp-validation-for="Email"></span>
                                        </div>
                                    </div>
                                    @if (Model.DisplayCaptcha)
                                    {
                                        <div class="col-12">
                                            <div class="captcha-box">
                                                <nop-captcha />
                                            </div>
                                        </div>
                                    }
                                    <div class="col-12">
                                        <button type="submit" name="send-email" class="mt-btn-2 w-100 password-recovery-button">
                                            <span>@T("Account.PasswordRecovery.RecoverButton")</span>
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-6">
                    <div class="mt-login-thumb br-40 text-center text-lg-end wow img-custom-anim-top"
                         data-wow-duration="1.5s" data-wow-delay="0.1s">
                        <img src="~/Themes/@(themeName)/Content/img/contact/login-thumb.jpg" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

