@model CheckoutCompletedModel
@inject IThemeContext themeContext
@{
    Layout = "_ColumnsOne";

    //title
    NopHtml.AddTitleParts(T("PageTitle.Checkout").Text);
    //page class
    NopHtml.AppendPageCssClassParts("html-checkout-page");
    NopHtml.AppendPageCssClassParts("html-order-completed-page");

    var themeName = await themeContext.GetWorkingThemeNameAsync();
}

@section Breadcrumb
{
    <!-- Breadcrumb Area Start -->
    <section class="mt-breadcrumb-area mt-breadcrumb-space p-relative"
             data-background="Themes/@(themeName)/Content/img/breadcurmb/breadcrumb-bg.jpg">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-7">
                    <div class="mt-breadcrumb p-relative">
                        <h1 class="mt-breadcrumb-title">@T("Checkout.ThankYou") <span>@T("Checkout.Progress.Complete")</span></h1>
                        <div class="mt-breadcrumb-list">
                            <span class="active"><a href="@Url.RouteUrl(NopRouteNames.General.HOMEPAGE)">@T("Categories.Breadcrumb.Top")</a></span>
                            <span class="dvir">-</span>
                            <span><a href="@Url.RouteUrl(NopRouteNames.Standard.CHECKOUT_COMPLETED)">@T("Checkout.Progress.Complete")</a></span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-5">
                    <div class="mt-breadcrumb-img text-end wow img-custom-anim-top" data-wow-duration="1.5s"
                         data-wow-delay="0.1s">
                        <img src="~/Themes/@(themeName)/Content/img/breadcurmb/breadcrumb.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Breadcrumb Area End -->
}

<div class="page checkout-page order-completed-page">
    @if (!Model.OnePageCheckoutEnabled)
    {
        @await Component.InvokeAsync(typeof(CheckoutProgressViewComponent), new { step = CheckoutProgressStep.Complete })
    }

    <section class="mt-checkout-area pb-140 pt-140">
        <div class="container checkout-data">
            @await Component.InvokeAsync(typeof(WidgetViewComponent), new { widgetZone = PublicWidgetZones.CheckoutCompletedTop, additionalData = Model })

            <div class="row justify-content-center">
                <div class="col-lg-8">
                    <div class="section order-completed mt-checkout-place">
                        <h3 class="mt-checkout-place-title mb-20">@T("Checkout.YourOrderHasBeenSuccessfullyProcessed")</h3>

                        <div class="details mb-30">
                            <div class="order-number mb-10">
                                <strong>@T("Checkout.OrderNumber"): @Model.CustomOrderNumber</strong>
                            </div>
                            <div class="details-link">
                                <a href="@Url.RouteUrl(NopRouteNames.Standard.ORDER_DETAILS, new { orderID = Model.OrderId })" class="mt-btn-3">
                                    @T("Checkout.PlacedOrderDetails")
                                </a>
                            </div>
                        </div>

                        <div class="mt-checkout-btn-wrapper">
                            <button type="button" class="button-1 mt-btn order-completed-continue-button w-100"
                                    onclick="setLocation('@Url.RouteUrl(NopRouteNames.General.HOMEPAGE)')">
                                <span>@T("Checkout.ThankYou.Continue")</span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            @await Component.InvokeAsync(typeof(WidgetViewComponent), new { widgetZone = PublicWidgetZones.CheckoutCompletedBottom, additionalData = Model })
        </div>
    </section>
</div>
