@model ProductDetailsModel.ProductBreadcrumbModel

@using Nop.Core.Domain.Catalog
@using Nop.Core.Domain.Common
@inject IThemeContext themeContext
@inject CommonSettings commonSettings

@{
    var breadcrumbDelimiter = commonSettings.BreadcrumbDelimiter;

    NopHtml.AddJsonLdParts(Model.JsonLd);
    var themeName = await themeContext.GetWorkingThemeNameAsync();
}
@if (Model.Enabled)
{
    <!-- Breadcrumb Area Start -->
    <section class="mt-breadcrumb-area mt-breadcrumb-space p-relative"
             data-background="Themes/@(themeName)/Content/img/breadcurmb/breadcrumb-bg.jpg">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-7">
                    <div class="mt-breadcrumb p-relative">
                        <h1 class="mt-breadcrumb-title">Products <span>Details</span></h1>
                        <div class="mt-breadcrumb-list">
                            <span class="active"><a href="@Url.RouteUrl(NopRouteNames.General.HOMEPAGE)">@T("Products.Breadcrumb.Top")</a></span>
                            <span class="dvir">@breadcrumbDelimiter</span>
                            @foreach (var category in Model.CategoryBreadcrumb)
                            {

                                <span><a href="@(await NopUrl.RouteGenericUrlAsync<Category>(new { SeName = category.SeName }))">@category.Name</a></span>
                                <span class="dvir">@breadcrumbDelimiter</span>
                            }
                            <span><a href="@(await NopUrl.RouteGenericUrlAsync<Product>(new { SeName = Model.ProductSeName }))">@Model.ProductName</a></span>
                            @await Component.InvokeAsync(typeof(WidgetViewComponent), new { widgetZone = PublicWidgetZones.ProductBreadcrumbAfter, additionalData = Model })
                        </div>
                    </div>
                </div>
                <div class="col-lg-5">
                    <div class="mt-breadcrumb-img text-end wow img-custom-anim-top" data-wow-duration="1.5s"
                         data-wow-delay="0.1s">
                        <img src="~/Themes/@(themeName)/Content/img/breadcurmb/breadcrumb.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Breadcrumb Area End -->
    @* <!-- Start Brand Title  -->
    <section class="mtbreadcrumb__titleslide-area p-relative">
        <div class="swiper mt-brand-title-active">
            <div class="swiper-wrapper mt-slide-transtion">
                <div class="swiper-slide mt-brand-slide-element">
                    <div class="mtbreadcrumb__titleslide ">
                        <h5 class="mtbreadcrumb__titleslide-title">
                            <span><i class="fa-solid fa-star-sharp"></i></span>
                            PRODUCT DETAILS
                        </h5>
                    </div>
                </div>
                <div class="swiper-slide mt-brand-slide-element">
                    <div class="mtbreadcrumb__titleslide ">
                        <h5 class="mtbreadcrumb__titleslide-title">
                            <span><i class="fa-solid fa-star-sharp"></i></span>
                            PRODUCT DETAILS
                        </h5>
                    </div>
                </div>
                <div class="swiper-slide mt-brand-slide-element">
                    <div class="mtbreadcrumb__titleslide ">
                        <h5 class="mtbreadcrumb__titleslide-title">
                            <span><i class="fa-solid fa-star-sharp"></i></span>
                            PRODUCT DETAILS
                        </h5>
                    </div>
                </div>
                <div class="swiper-slide mt-brand-slide-element">
                    <div class="mtbreadcrumb__titleslide ">
                        <h5 class="mtbreadcrumb__titleslide-title">
                            <span><i class="fa-solid fa-star-sharp"></i></span>
                            PRODUCT DETAILS
                        </h5>
                    </div>
                </div>
                <div class="swiper-slide mt-brand-slide-element">
                    <div class="mtbreadcrumb__titleslide ">
                        <h5 class="mtbreadcrumb__titleslide-title">
                            <span><i class="fa-solid fa-star-sharp"></i></span>
                            PRODUCT DETAILS
                        </h5>
                    </div>
                </div>
                <div class="swiper-slide mt-brand-slide-element">
                    <div class="mtbreadcrumb__titleslide ">
                        <h5 class="mtbreadcrumb__titleslide-title">
                            <span><i class="fa-solid fa-star-sharp"></i></span>
                            PRODUCT DETAILS
                        </h5>
                    </div>
                </div>
                <div class="swiper-slide mt-brand-slide-element">
                    <div class="mtbreadcrumb__titleslide ">
                        <h5 class="mtbreadcrumb__titleslide-title">
                            <span><i class="fa-solid fa-star-sharp"></i></span>
                            PRODUCT DETAILS
                        </h5>
                    </div>
                </div>
                <div class="swiper-slide mt-brand-slide-element">
                    <div class="mtbreadcrumb__titleslide ">
                        <h5 class="mtbreadcrumb__titleslide-title">
                            <span><i class="fa-solid fa-star-sharp"></i></span>
                            PRODUCT DETAILS
                        </h5>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Brand Title  --> *@

}