@model HomepageNewsItemsModel
@inject IThemeContext themeContext
@using Nop.Core.Domain.News
@{
    var themeName = await themeContext.GetWorkingThemeNameAsync();
}

@if (Model.NewsItems.Count > 0)
{
    <!-- Start Blog Area -->
    <section class="mtblog__area mtblog__2 p-relative fix pt-70 pb-75 homepage-news"
             data-background="Themes/@(themeName)/Content/img/bg/blog-bg-2-1.jpg">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6">
                    <div class="mt-section-content mb-30">
                        <h3 class="mt-section-title">
                            Read Our
                            <span>@T("News")</span>
                            <span>
                                <svg xmlns="http://www.w3.org/2000/svg" width="18" height="20" viewBox="0 0 18 20"
                                     fill="none">
                                    <path d="M9 1.82196L10.429 6.82929L10.5619 7.29477L11.0314 7.17707L16.0824 5.91098L12.4604 9.65222L12.1237 10L12.4604 10.3478L16.0824 14.089L11.0314 12.8229L10.5619 12.7052L10.429 13.1707L9 18.178L7.57097 13.1707L7.43813 12.7052L6.9686 12.8229L1.91761 14.089L5.53957 10.3478L5.87627 10L5.53957 9.65222L1.91761 5.91098L6.9686 7.17707L7.43813 7.29477L7.57097 6.82929L9 1.82196Z"
                                          fill="#FDD057" stroke="#060121" />
                                </svg>
                            </span>
                        </h3>
                        <p>Dive into a world of knowledge and inspiration with our informative articles. </p>
                    </div>
                </div>
                <div class="col-lg-6 ">
                    <div class="p-relative">
                        <div class="mtblog__arrow mb-30 d-flex justify-content-lg-end p-relative">
                            <div class="mtblog__arrow-next">
                                <span>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="15" height="14" viewBox="0 0 15 14"
                                         fill="none">
                                        <path d="M7.39367 0.820693C6.37396 5.14484 1.88 6.84235 1.46856 6.98943C1.4577 6.99331 1.45706 7.00855 1.4676 7.01347C1.87294 7.20245 6.37316 9.37583 7.39367 13.1793M14.54 7.00001L2.62943 7.00001"
                                              stroke="#060121" stroke-width="2" />
                                    </svg>
                                </span>
                            </div>
                            <div class="mtblog__arrow-prev">
                                <span>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="15" height="14" viewBox="0 0 15 14"
                                         fill="none">
                                        <path d="M7.60633 13.1793C8.62604 8.85516 13.12 7.15765 13.5314 7.01057C13.5423 7.00669 13.5429 6.99145 13.5324 6.98653C13.1271 6.79755 8.62684 4.62417 7.60633 0.820679M0.459961 6.99999L12.3706 6.99999"
                                              stroke="#060121" stroke-width="2" />
                                    </svg>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="mtblog__wrapper">
                <div class="swiper mt-blog-slider-active">
                    <div class="swiper-wrapper">

    @foreach (var item in Model.NewsItems)
    {
        <div class="swiper-slide">
            <div class="news-card">
                <div class="news-media">
                    <img src="Themes/@(themeName)/Content/img/blog/blog-2-1.jpg" alt="@item.Title" />
                    <div class="news-date-badge">
                        <div class="news-date-day">@item.CreatedOn.Day</div>
                        <div class="news-date-month">@item.CreatedOn.ToString("MMM")</div>
                    </div>
                </div>
                <div class="news-body">
                    <div class="news-tags">
                        <span class="news-tag news-tag--dark">Organic</span>
                        <span class="news-tag">Grocery</span>
                    </div>
                    <h4 class="mtblog__title news-title">
                        <a href="@(await NopUrl.RouteGenericUrlAsync<NewsItem>(new { SeName = item.SeName }))">@Html.Raw(item.Title ?? item.Short)</a>
                    </h4>
                    <p class="news-excerpt">@Html.Raw(item.Short)</p>
                </div>
            </div>
        </div>
    }
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Blog Area -->
     
}
