@using Nop.Web.Framework.Themes
@model PublicSlideModel
@inject IThemeContext themeContext 
@{

    var themeName = await themeContext.GetWorkingThemeNameAsync();
}
@{
    void slideImage()
    {
        <img src="@Model.PictureUrl" alt="@Model.AltText" title="@Model.TitleText" @(Model.LazyLoading ? "loading=lazy" : string.Empty) />
    }
}

@if (!string.IsNullOrEmpty(Model.PictureUrl))
{ 
    <div class="swiper-slide">
        <div class="mthero__banner" data-background="Themes/@(themeName)/Content/img/hero/hero-bg-1.jpg">
            <div class="row">
                <div class="col-lg-7">
                    <div class="mthero__content">
                        
                       
                        <h5 class="mthero__subtitle">
                            <img src="~/Themes/@(themeName)/Content/img/icon/star-icon-3.svg"
                                 alt="">
                                <span>Get up to 30% off </span>
    </h5>
                        <h1 class="mthero__title">
                            Try Best <span>Organic</span> <br>
                            Products
                        </h1>
                        <p>
                            Visit our discount shop will get 30% off every
                            organic products, fruits and vagetables
                        </p>
                        <div class="mthero__btn mt-40">
                            <a href="shop.html" class="mt-btn">
                                <i class="fa-solid fa-basket-shopping"></i> Shop
                                Now
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-5">
                    <div class="mthero__img">
                        @{
                            slideImage();
                        }
                         
                    </div>
                </div>
            </div>
        </div>
    </div>

    // <div class="swiper-slide">
    //     @if (!string.IsNullOrEmpty(Model.LinkUrl))
    //     {
    //         <a href="@Model.LinkUrl" aria-label="@Model.AltText">
    //             @{ slideImage(); }
    //         </a>
    //     }
    //     else
    //     {
    //         slideImage();
    //     }

    //     @if (Model.LazyLoading)
    //     {
    //         <div class="swiper-lazy-preloader"></div>
    //     }
    // </div>
}
