@using Nop.Web.Framework.Themes
@model PublicSlideModel
@inject IThemeContext themeContext 
@{

    var themeName = await themeContext.GetWorkingThemeNameAsync();
}
@{
    void slideImage()
    {
        <img src="@Model.PictureUrl" alt="@Model.AltText" title="@Model.TitleText" @(Model.LazyLoading ? "loading=lazy" : string.Empty) />
    }
}

@if (!string.IsNullOrEmpty(Model.PictureUrl))
{ 
    <div class="swiper-slide">
        <div class="mthero__banner" data-background="Themes/@(themeName)/Content/img/hero/hero-bg-1.jpg">
            <div class="row">
                <div class="col-lg-7">
                    <div class="mthero__content">
                        
                       
                        @if (!string.IsNullOrWhiteSpace(Model.Subtitle))
                        {
                            <h5 class="mthero__subtitle">
                                <img src="~/Themes/@(themeName)/Content/img/icon/star-icon-3.svg"
                                     alt="">
                                <span>@Model.Subtitle</span>
                            </h5>
                        }
                        @if (!string.IsNullOrWhiteSpace(Model.Heading))
                        {
                            <h1 class="mthero__title">
                                @Html.Raw(Model.Heading)
                            </h1>
                        }
                        @if (!string.IsNullOrWhiteSpace(Model.DescriptionBody))
                        {
                            <p>@Model.DescriptionBody</p>
                        }
                        @if (!string.IsNullOrWhiteSpace(Model.ButtonText))
                        {
                            <div class="mthero__btn mt-40">
                                <a href="@(string.IsNullOrWhiteSpace(Model.LinkUrl) ? "#" : Model.LinkUrl)" class="mt-btn">
                                    <i class="fa-solid fa-basket-shopping"></i> @Model.ButtonText
                                </a>
                            </div>
                        }
                    </div>
                </div>
                <div class="col-lg-5">
                    <div class="mthero__img">
                        @{
                            slideImage();
                        }
                         
                    </div>
                </div>
            </div>
        </div>
    </div>

    // <div class="swiper-slide">
    //     @if (!string.IsNullOrEmpty(Model.LinkUrl))
    //     {
    //         <a href="@Model.LinkUrl" aria-label="@Model.AltText">
    //             @{ slideImage(); }
    //         </a>
    //     }
    //     else
    //     {
    //         slideImage();
    //     }

    //     @if (Model.LazyLoading)
    //     {
    //         <div class="swiper-lazy-preloader"></div>
    //     }
    // </div>
}
