@model AddressModel

<input class="address-id" asp-for="Id" type="hidden"/>
<div class="edit-address">
    <div class="row">
        <div class="col-md-6">
            <div class="mt-checkout-input">
                <input asp-for="FirstName" placeholder="@T("Address.Fields.FirstName") *" />
                <span class="field-validation-valid" asp-validation-for="FirstName"></span>
            </div>
        </div>
        <div class="col-md-6">
            <div class="mt-checkout-input">
                <input asp-for="LastName" placeholder="@T("Address.Fields.LastName") *" />
                <span class="field-validation-valid" asp-validation-for="LastName"></span>
            </div>
        </div>
        <div class="col-md-12">
            <div class="mt-checkout-input">
                <input asp-for="Email" placeholder="@T("Address.Fields.Email") *" />
                <span class="field-validation-valid" asp-validation-for="Email"></span>
            </div>
        </div>
        @if (Model.CompanyEnabled)
        {
            <div class="col-md-12">
                <div class="mt-checkout-input">
                    <input asp-for="Company" placeholder="@T("Address.Fields.Company")@(Model.CompanyRequired ? " *" : "")" />
                    <span class="field-validation-valid" asp-validation-for="Company"></span>
                </div>
            </div>
        }
        @if (Model.CountryEnabled)
        {
            <div class="col-md-6">
                <div class="mt-checkout-input">
                    <select asp-for="CountryId" asp-items="Model.AvailableCountries"
                            data-trigger="country-select"
                            data-url="@(Url.RouteUrl(NopRouteNames.Ajax.GET_STATES_BY_COUNTRY_ID))"
                            data-stateprovince="#@Html.IdFor(model => model.StateProvinceId)"
                            data-loading="#states-loading-progress"></select>
                    <span class="field-validation-valid" asp-validation-for="CountryId"></span>
                </div>
            </div>
        }
        @if (Model.CountryEnabled && Model.StateProvinceEnabled)
        {
            <div class="col-md-6">
                <div class="mt-checkout-input">
                    <select asp-for="StateProvinceId" asp-items="Model.AvailableStates"
                            data-trigger="state-select"></select>
                    <span id="states-loading-progress" style="display: none;" class="please-wait">@T("Common.Wait")</span>
                    <span class="field-validation-valid" asp-validation-for="StateProvinceId"></span>
                </div>
            </div>
        }
        @if (Model.CountyEnabled)
        {
            <div class="col-md-6">
                <div class="mt-checkout-input">
                    <input asp-for="County" placeholder="@T("Address.Fields.County")@(Model.CountyRequired ? " *" : "")" />
                    <span class="field-validation-valid" asp-validation-for="County"></span>
                </div>
            </div>
        }
        @if (Model.CityEnabled)
        {
            <div class="col-md-6">
                <div class="mt-checkout-input">
                    <input asp-for="City" placeholder="@T("Address.Fields.City")@(Model.CityRequired ? " *" : "")" />
                    <span class="field-validation-valid" asp-validation-for="City"></span>
                </div>
            </div>
        }
        @if (Model.StreetAddressEnabled)
        {
            <div class="col-md-12">
                <div class="mt-checkout-input">
                    <input asp-for="Address1" placeholder="@T("Address.Fields.Address1")@(Model.StreetAddressRequired ? " *" : "")" />
                    <span class="field-validation-valid" asp-validation-for="Address1"></span>
                </div>
            </div>
        }
        @if (Model.StreetAddress2Enabled)
        {
            <div class="col-md-12">
                <div class="mt-checkout-input">
                    <input asp-for="Address2" placeholder="@T("Address.Fields.Address2")@(Model.StreetAddress2Required ? " *" : "")" />
                    <span class="field-validation-valid" asp-validation-for="Address2"></span>
                </div>
            </div>
        }
        @if (Model.ZipPostalCodeEnabled)
        {
            <div class="col-md-6">
                <div class="mt-checkout-input">
                    <input asp-for="ZipPostalCode" placeholder="@T("Address.Fields.ZipPostalCode")@(Model.ZipPostalCodeRequired ? " *" : "")" />
                    <span class="field-validation-valid" asp-validation-for="ZipPostalCode"></span>
                </div>
            </div>
        }
        @if (Model.PhoneEnabled)
        {
            <div class="col-md-6">
                <div class="mt-checkout-input">
                    <input asp-for="PhoneNumber" placeholder="@T("Address.Fields.PhoneNumber")@(Model.PhoneRequired ? " *" : "")" />
                    <span class="field-validation-valid" asp-validation-for="PhoneNumber"></span>
                </div>
            </div>
        }
        @if (Model.FaxEnabled)
        {
            <div class="col-md-6">
                <div class="mt-checkout-input">
                    <input asp-for="FaxNumber" placeholder="@T("Address.Fields.FaxNumber")@(Model.FaxRequired ? " *" : "")" />
                    <span class="field-validation-valid" asp-validation-for="FaxNumber"></span>
                </div>
            </div>
        }
    </div>
    @if (Model.CustomAddressAttributes.Count > 0)
    {
        @await Html.PartialAsync("_AddressAttributes", Model.CustomAddressAttributes)
    }
    @await Component.InvokeAsync(typeof(WidgetViewComponent), new { widgetZone = PublicWidgetZones.AddressBottom, additionalData = Model })
</div>
